<div class="text-center">
    <h1 class="text-danger">Access Denied</h1>
    <h6 class="text-danger">You do not have permission to view this resource</h6>

    <a class="btn btn-outline-dark" asp-action="Index" asp-controller="Home">Back to main page</a>
</div>